@font-face {
    font-family: "Colus";
    src: url(fonts/Colus-Regular.woff2)
}

html {
    font-family: "Colus";
}

.TopNav {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 10px;
}

.TopNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.TopNav a:hover {
    background-color: rgb(140, 222, 243);
    color: black;
}

.TopNav a.active {
    background-color: rgb(71, 209, 243);
    color: white;
}

.TopNav a.loginout {
    float: right;
}